<div>
  <form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div>
      <label>Username:</label>
      <input type="text" name="user[username]">
    </div>
    <div>
      <label>Email:</label>
      <input type="email" name="user[email]">
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="user[password]">
    </div>
    <input type="submit">
  </form>
</div>