<h1> <%= @user.username %> </h1>
<div class="user_fields">
<h2>Fields</h2>
<p> <span> User email:</span> <%= @user.email%> </p>
<p> <span> Created at:  </span> <%= @user.created_at%> </p>
<p> <span> Updated at:  </span> <%= @user.updated_at%> </p>
</div>